@charset "utf-8";

* { margin:0; padding:0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
body { font-family:Arial, "Microsoft Yahei"; font-size: 16px; background: #f4f4f4;}
form, img, table, td { border:0;}
ul, ol, li { list-style-type:none; display: block;}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal;}
input, textarea, img { vertical-align:middle; font-family:Arial, "Microsoft Yahei";}
@media screen and (max-device-width: 320px) {body {-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px) {body {-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {body {-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {body {-webkit-text-size-adjust:none}}
a { color:#507fbd; text-decoration:none;}
a:link { text-decoration:none;}
a:visited { color:#507fbd;}
a:active { color:#507fbd;}
a:hover { color:#507fbd;}
html,body{ height: 100%;}

/* font */
.f12 { font-size:12px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.ti2 { text-indent:2em;}

/* box */
.pd10{ padding: 10px;}
.pdX10{ padding: 0 10px;}
.pdY10{ padding: 10px 0;}
.pdY5{ padding:5px 0;}
.mgX10{ margin: 0 10px;}
.mgY10{ margin: 10px 0;}
.mt10{ margin-top: 10px !important;}
.mt15{ margin-top: 15px !important;}
.mt20{ margin-top: 20px !important;}
.lh20{ line-height: 20px;}
.lh22{ line-height: 22px;}
.mt10e{height:10px; font-size:0px;background:#f4f4f4}
/* color */
.fccc{ color: #ccc;}
.f999{ color: #999;}
.fgray { color:gray;}
.f039,.fblue { color:#039;}
.fgrn{ color: #16ac0e;}
.ff60,.forge { color:#f60;}
.ff90{ color: #f90;}
.fc00{ color: #c00;}
.f333{ color: #333;}
.fdf3{ color: #df3031;}
.f93{ color: #ff9933;}
.f666{color:#ff6666;}
/* fn */
.clear { clear: both; height: 0px; font-size: 0px; visibility: hidden; line-height: 0;}
.clearfix:after{ clear: both; content: "\200B"; display: block; height: 0;}
.clearfix{ *zoom: 1;}
.center { text-align: center;}
.none { display: none;}
.flol { float: left;}
.flor { float: right;}
.rbox4{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.rbox6{ -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}

.main{ position: relative; margin: 0 auto; max-width: 640px; min-height: 100%; overflow: hidden;}
.main.bjfa{ background:#fafafa}
.mBox{ border: 1px solid #e4e4e4; border-width: 1px 0; margin-bottom: 10px;}
table{ border-collapse:collapse;}
section,.whitebg,.main,.whitebg{ background-color: #fff;}
.bb{ border-bottom: 1px solid #f4f4f4;}
.bot{ border-top: 1px solid #f4f4f4;}
.nob{ border-bottom: 0px}
input,textarea,button{ -webkit-appearance:none;}
input[type="radio"]{ -webkit-appearance:radio;}
input[type="checkbox"]{ -webkit-appearance:checkbox;}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}

/* flex */
.flexbox{ display: box; display: -webkit-box; display: -moz-box; display: -ms-box; -webkit-box-orient:horizontal; box-orient:horizontal;}
.flexbox > *{ display: block; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1;}
body:not(:-moz-handler-blocked) .flexbox { width: 100%;} /*for FF*/

/* header */
header{ position: relative; height: 44px; line-height: 44px; background-color: #df3031;}
header .left{ position: relative; z-index: 5; float: left;}
header .city{ position: relative; display:inline-block; padding: 0 10px; font-size: 16px; color: #df3031;}
header .city span{ padding-right: 15px; background: url(../images/home.png) right 3px no-repeat; background-size: 200px auto;}
header .logo{ float: left; width: 100px; height: 44px; background: url(../images/logo02.png) center no-repeat; background-size: 83px auto;}
header .cent{ position: absolute; width: 100%; height: 100%; text-align: center; font-size: 16px; color: #fff;}
header .cent a{ position: relative; padding-right: 16px; color: #fff;}
header .cent a:after{ position: absolute; top: 50%; right: 0; content: ''; margin-top: -3px; width: 0; height: 0; border-style: solid; border-width: 6px 5px; border-color: #fff transparent transparent transparent;}
header .cent span{ position: absolute; left: 100px; right: 100px; height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
header .back{ float: left; width: 44px; height: 44px; text-align: center;}
header .back i{ display:inline-block; vertical-align: middle; width: 17px; height: 17px; background: url(../images/home.png) -75px 0 no-repeat; background-size: 200px auto;}
.head-btn{ position: relative; z-index: 6; float: right; height: 44px;}
.head-btn a{ margin-right: 10px; padding: 4px 6px; border: 1px solid #fff; border-radius: 3px; color: #fff; font-size: 12px;}

.head-icon{ position: relative; z-index: 5; float: right;}
.head-icon a{ float: left; width: 36px; text-align: center;}
.head-icon a span{ display: inline-block; vertical-align: middle; text-align: center;}
.head-icon a span i{ display: block; margin: 0 auto; width: 21px; height: 21px; background: url(../images/icon-head.png) no-repeat; background-size: 105px auto;}
.head-icon a p{ margin-top: 2px; white-space: nowrap; color: #fff !important; font-size: 10px; line-height: 1;}
.icon-my i{ background-position: 0 0;}
.icon-nav i{ background-position: -21px 0 !important;}
.icon-fb i{ background-position: -42px 0 !important;}
.icon-sea i{ background-position: -84px -21px !important;}
.icon-que i{ background-position: 0 -42px !important;}






/* footer */
footer{ border-top: 1px solid #e4e4e4; background-color: #fff; min-height: 50px; text-align: center;}
footer .ver{ border-bottom: 1px solid #e4e4e4;}
footer .ver a{ padding: 10px 0; width: 50px; font-size: 16px; color: #000;}
footer .ver a span{ display: block; border-right: 1px solid #e4e4e4;}
footer .ver a:last-child span{ border-right: none;}

/* foot */
.nnav a { width: 20px; height:30px; font-size: 16px; color: #FFFFFF; line-height: 30px; white-space: nowrap; text-align:center;}
.sms-num { background: #F90; color:white; font-size: 12px; line-height: 14px; height: 14px; width: 14px; -webkit-border-radius:10px; position:absolute; text-align: center; margin-left:-8px; padding: 1px;}
.head-icon .sms-num{ margin: 5px 0 0 10px;}

/* 跳转箭头 */
.arr-rt{ position: relative; padding-right: 15px;}
.arr-rt:after{ position: absolute; content: ''; right: -4px; top: 50%; margin-top: -7px; width: 15px; height: 15px; background: url(../images/arrs01.png) no-repeat; background-size: 15px auto;}
.arr-blue{ float: right; margin-right: -4px; padding-right: 12px; font-size: 12px; color: #507fbd !important;}
.arr-blue:after{ background-position: 0 -75px;}


/* media */
@media screen and (min-width: 321px) and (max-width: 479px) {
	html{ font-size: 18px;}
}
@media screen and (min-width: 480px) and (max-width: 559px){
	html{ font-size: 24px;}
}
@media screen and (min-width: 560px){
	html{ font-size: 28px;}
}